@font-face {
    font-family: "Space Grotesk";
    src: url(./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf) format('truetype');
}

:root {
    --primary-bg: #12131A;
    --cards-bg: #1C1F2A;
    --primary-text:#F2F2F7;
    --secondary-text: #B4B7C9;
    --violet-card: #C99DFF;
    --orange-card: #FFB21E;
    --coral-card: #FF8A65;
    --progress-bar: #D19BFF;
    --edges: #2A2D3A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Space Grotesk", sans-serif;
    background-color: var(--primary-bg);
    display: flex;
    justify-content: center;
    color: var(--primary-text);
}

.container {
    width: 100%;
    max-width: 800px;
    padding: 2rem;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo-info img {
    width: 66px;
    height: 66px;
}

.logo-info p {
    font-size: 1.2rem;
    font-weight: 400 ;
}

.sun-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    background-color: var(--cards-bg);
    border-radius: 8px;
}

.sun-button img {
    width: 42px;
    height: 42px;
}